*{
  box-sizing: border-box;
  padding:0px;
  margin:0px;

  
}
body{
  background-color: beige;
}

.container{
  height:60px;
  width:100%;
  background-color:rgb(45, 45, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  color:linear
}
button{
  height:40px;
  cursor: pointer;
  width:auto; 
  background-color: #0dc244;
  color:white;
  margin:4px;
  border-radius: 5px;

  font-weight: 600;
  transition:all 0.8s;
}
button:hover{
  transition:all 0.8s;
  background-color: rgb(91, 145, 55);
  color:white;
}
input{
  height:40px;
  padding:5px;
  width:30vw;
  border:none;
  font-weight: 600;
  border-radius: 5px;
  font-size:20px;
  

}
input:focus{
  box-shadow: 0px 0px 5px white;
  
}

.container h1{
  color:rgb(232, 205, 248);
  font-size:40px;
  width:80vh;
  font-weight: 700;
  margin-right:30px;
  
}


.loading_container{
  height:100px;
  margin-top:80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_container h1{
  color:blue;
  display: flex;
  font-size:80px;
  align-items: center;
  justify-content: center;
}

.movie_notfound{
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:80px;


}

.movie_notfound h1{
  align-items: center;
  justify-content:center;
  display:flex;
  font-size:50px;
  width:auto;

}
.body_container{
  height:auto;
  width:50vw;
  display:flex;
  background-color: rgb(215, 226, 224);;
  box-shadow:0px 0px 20px rgb(103, 151, 32);
  border-radius: 10px;
}
.body_container h1{

}
.img_container{
  border:none;
  padding:5px;
  

}
.img_container img{
  height:50vh;
  width:20vw;
}

.parent_container{
  display:flex;
  height:auto;
  align-items: center;
  justify-content: center;
  margin-top:80px;

}

.data_container{
  display: flex;
  flex-wrap: wrap;
  overflow:hidden;
  flex-direction: column;
  width: 100%;
  padding:5px;
  background-color: rgb(215, 226, 224);
}
.data_container h1{
  font-size:32px;
  text-transform: capitalize;
  color:rgb(110, 6, 196);
  margin:5px;
  
}
span{
  color:green;
  font-size:25px;
}
span h1{
  color:black;

}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.heading h1{
  color:rgb(121, 71, 14);
  font-size:40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  height:80px;
  width:100%;
  margin-top:80px;
  
}
.home h1{
  font-size:80px;
}

@media screen and (max-width:900px){
  input{
    width:50vw;
  }
  .home{
    margin-top: 80px;
  }
.home h1{
  font-size:50px;
}
  .movie_notfound{
    margin-top:80px;
  }
  .movie_notfound h1{
    font-size:50px;


  }
  .body_container{
 
  padding:5px;
    
  }
  

  .loading_container{
    margin-top:80px;
  }
  .loading_container h1{
    font-size:50px;
  }
  }
  .parent_container{
    margin-top:80px;
  }

  .container{
    justify-content: space-around;
    position: fixed;
    top:0px;

  }
  .container h1{
    margin-left:20px;
  }
  .body_container{
  flex-direction: column;
  }
  .img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
  }
  .img_container img{
    width:250px;
    height:320px;
    border-radius: 5px;

  }
  button{
    width:auto;
    padding:5px;
  }
  

@media screen and (max-width:500px){
 button{
  height:40px;
  width:auto;
  margin-right:5px;
 }
  input{
    width:60%;
    font-size:15px;
    height: 40px;

  }

  .img_container img{
    width:70vw;
    height:50vh;
    border-radius: 10px;
 
  

  }
  .img_container{
    background-color: rgb(215, 226, 224);
  }
  .body_container{
    width:80vw;
  }
  .data_container h1{
    font-size:25px;
  }
  span{
    font-size:20px;
  }
  .container h1{
    font-size:40px;
    margin-left: 0px;
    
    
  }
   
  
  
}
@media screen and (max-width:420px){
.container h1{
display: none;
  
}
}
@media screen and (max-width:350px){
  .container h1{
    display: none;
    
  }
  input{
    height:40px;
    width:auto;
  }
  button{
    height:40px;
    width:auto;
    margin:0px;
  }

}